<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1> {{destination.destination}}</h1>
    Planned By: {{user}}<br>
    Description: {{destination.description}}<br>
    Travel Date From: {{destination.start}}<br>
    Travel Date To: {{destination.end}}<br>
    <hr>
    Other users joining the trip:<br>
    {% for otheruser in otherusers %}
    {{otheruser.firstname}}<br>
    {%endfor%}
    <a href="/logout">Log Out</a>
    <a href="/success">Home</a>
    
</body>
</html>